<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<module id="io" vendor="fantoir">
			<version>0.1.0</version>
			<enabled>true</enabled>
			<label>A simple demo module to manage basic invoices</label>
			<description>Module permettant la gestion des villes</description>
			<namespace>t41\IO</namespace>
			<controller>
				<base>io</base>
				<label>Fantoir</label>
				<help></help>
			</controller>
			<parameters>
			</parameters>
		</module>
	</modules>
</config>
