<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8"/>
	<title>t41.io</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>
	<meta itemprop="description" content="t41.io"/>
	<link rel="icon" type="image/png" href="img/favicon.png"/>
	<link rel="shortcut icon" href="img/favicon.png"/>
	<link href='http://fonts.googleapis.com/css?family=Exo+2:100,300,400,600' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
	<link href="/css/dashboard.css" rel="stylesheet" type="text/css"/>
	%components:js%
	%components:css%
</head>
<body class="t41io">
	%container:menu%

	<div class="block odd">
		<h1><span class="logo-titre">t41<span class="dot">.</span>io</span></h1>
		<h3>Par <a href="http://quatrain.com" target="_blank"><img src="http://quatrain.com/images/logo-2012.png" alt="Quatrain"></a></h3>
		<h2>Localisez <span>vos</span> utilisateurs <span>avec</span> adresse !</h2>
		<p>A l'heure du big data, toute application moderne se doit de proposer une gestion d'adresse permettant d'exploiter la puissance de algorithmes. t41.io propose une API Restful et des widgets permettant de gérer les adresses dans vos applications de la manière la plus précise et détaillée possible. Essayez, c'est gratuit !</p>
	</div>

	<a name="try"></a>
	<div class="block even form" id="apitry" style="margin-bottom: 0;">
		%container:apitryform%
	</div>

	<div ng-app="mapocApp">
		<a name="map" />
		<div class="block odd" id="map" ng-controller="MapController">
			<qt-map></qt-map>
		</div>
	</div>

	<a name="contact"></a>
	<div class="block odd form" id="apiaccess">
		%container:accessform%
	</div>

	<div class="block even">
		<h2>Licence & Sources</h2>
		
		<div class="limit">
			<p id="licence">Pellentesque tortor lorem, convallis id tristique non, placerat et tortor. Curabitur sit amet facilisis elit. Aliquam dolor odio, pulvinar non sem eu, dapibus hendrerit elit. Donec pharetra arcu at convallis bibendum. Nulla facilisi. Mauris dignissim vehicula varius. Pellentesque lacinia, ipsum et ultrices feugiat, magna erat gravida ligula, a scelerisque nunc arcu vel mi.</p>
			<ul id="sources">
				<li><a href="http://www.openstreetmap.org/">Projet OSM</a></li>
				<li><a href="http://openstreetmap.fr/bano">Projet BANO</a></li>
				<li><a href="http://www.collectivites-locales.gouv.fr/mise-a-disposition-fichier-fantoir-des-voies-et-lieux-dits">Réf. Fantoir</a></li>
				<li><a href="http://www.data.gouv.fr/">data.gouv.fr</a></li>
				<li><a href="http://fr.wikipedia.org/wiki/Open_Database_License">Licence ODbL</a></li>
			</ul>
		</div>
		<p id="footer">Ce site ainsi que l'API qu'il décrit et sa documentation sont développés et hébergés par Quatrain</p>
	</div>
</body>

</html>